@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
