@import "fonts";
@import "typography";
@import "utils";
@import "reset";
@import "header";
@import "navBar";
@import "promo";
@import "container";
@import "content";
@import "description";
@import "apartment";
@import "reviews";
@import "hosted";
@import "form";
@import "footer";

body {
  width: 100%;
}

html {
  font-family: "Avenir", sans-serif;
  color: $colorPrimary;
  line-height: 24px;
}
