.reviews {
  margin-top: 34px;

  &__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c4c4c4;

    display: block;
    float: left;
    margin-right: 22px;
  }

  &__data {
    display: block;
  }

  .data-date {
    margin-top: 6px;
    font-size: 16px;
    line-height: 18px;
  }
}
